.body {
  display: flex;
  align-items: start;
  justify-content: center;

  flex-direction: column;

  margin-bottom: 10rem;
}

.body__services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 10rem !important;
}

.body__servicesContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 2.5rem;

  width: 80%;
}

.body__servicesCards,
.body__latestArticle-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* gap: 2.25rem; */
  flex-wrap: wrap;

  /* width: 100%; */
}

.body__servicesCards::after {
  content: "";
  background: url("../../assets/pseudoElement.png") no-repeat;
  position: absolute;
  background-size: contain;
  top: 190%;
  right: 5%;
  width: 131.58px;
  height: 115px;
  z-index: -1;
  transform: rotate(90deg);
}

.body__serviceCards-bgImage {
  width: 50%;

  position: absolute;
  top: 720px;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.body__servicesText {
  font-size: clamp(0.75rem, 4vw, var(small-text));
  /* font-size: var(small-text); */
  font-weight: 300;
  color: var(--primary);

  text-align: center;
}

.body__servicesCards-buttonDiv,
.body__latestArticle-buttonDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body__services button,
.body__providers button,
.body__download button,
.body__latestArticle button {
  border: 1.4px solid #458ff6;
  padding: 0.75rem 2rem;
  border-radius: 55px;
  background-color: #fff;

  font-weight: 700;
  font-size: var(--small-text);

  color: #458ff6;
  cursor: pointer;

  transition: all 255ms ease-in-out;
}

.body__services button:hover,
.body__providers button:hover,
.body__download button:hover,
.body__latestArticle button:hover {
  background-color: #458ff6;
  color: #fff;
}

.body__providers,
.body__download {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10rem !important;
  gap: 3rem;
}

.body__providers-image,
.body__download-image {
  flex: 0.5;
}

.body__providers-contents,
.body__download-contents {
  flex: 0.5;
}

.body__providers-image img,
.body__download-image img {
  width: 100%;
  height: auto;
}

.body__providers-contents h2,
.body__download-contents h2 {
  font-weight: 700;
  line-height: 3.5rem;
}

.body__providers-contents p,
.body__download-contents p {
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 300;

  color: var(--primary);

  margin-bottom: 2.5rem;
}

.body__download {
  flex-direction: row-reverse;
}

.body__latestArticle {
  position: relative;
}

.body__latestArticle-title {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.body__latestArticle::after {
  content: "";
  background: url("../../assets/bv\ vector\ 2.png") no-repeat;
  position: absolute;
  background-size: contain;
  top: 0;
  left: 70%;
  right: -30%;
  width: 778.72px;
  height: 557.38px;
  z-index: -1;
}

@media screen and (min-width: 62rem) {
  .body__providers,
  .body__download {
    gap: 3rem;
  }
}

@media screen and (max-width: 62rem) {
  .body__providers,
  .body__download {
    flex-direction: column;
  }
  .body__providers-contents,
  .body__download-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .body__services,
  .body__providers,
  .body__download {
    margin-bottom: 5rem !important;
  }
}

@media screen and (max-width: 43rem) {
  .body {
    margin-bottom: 5rem !important;
  }

  .body__services {
    width: 100%;
  }
}
