.navbar {
	background-color: white !important;
	font-weight: 400 !important;
	font-size: 18px !important;
	color: var(--primary) !important;
	box-shadow: unset !important;
}

.navbar__pages {
	text-transform: capitalize !important;
}

.navbar__logo {
	display: none;
}

.navbar__links {
	justify-content: flex-end;
}

.navbar__links > * {
	color: var(--primary) !important;
	font-weight: 400 !important;
	line-height: 23px !important;
	opacity: 0.5;
}

.navbar__links > *:hover {
	color: var(--secondary) !important;
	font-weight: 700 !important;
	opacity: 1;
}

@media screen and (min-width: 56.25rem) {
	.navbar__logo {
		display: block;
	}
}
