:root {
	--main-bg: #e5e5e5;

	--heading: 3rem;
	--subheading: 2.25rem;
	--min-heading: 1.5rem;
	--text: 1.5rem;
	--small-text: 1.125rem;

	--primary: #7d7987;
	--secondary: #1f1534;
	--blue: #458ff6;
}

h1 {
	font-size: clamp(1.75rem, 4vw, var(--heading));
	/* font-size: var(--heading); */
}
h2 {
	font-size: clamp(1.7rem, 4vw, var(--subheading));
}
h3 {
	font-size: clamp(1.5rem, 4vw, var(--min-heading));
}

@media screen and (min-width: 62rem) {
	.app {
		max-width: 80% !important;
		margin: 0 auto;
	}
}

@media screen and (min-width: 43rem) and (max-width: 62rem) {
	.app {
		max-width: 75% !important;
		margin: 0 auto;
	}
}

@media screen and (max-width: 43rem) {
	.app {
		max-width: 100% !important;
		margin: 0 auto;
	}
	.app > * {
		max-width: 90% !important;
		margin: 0 auto;
	}
}
